{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Musicstore Website Template | artists</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		
		<div class="wrap">
			<div class="header">
			<div class="top-header">
				<div class="top-header-left">
					<ul>
						<li class="active"><a href="#">Home</a></li>
						<li><a href="musics">Musics</a></li>
			
					</ul>
				</div>
				<div class="top-header-right">
					<ul>
						<li><a href="#">Login as:</a></li>
						<p>""</p>
						</li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="clear"> </div>
			<div class="sub-header">
				<div class="logo">
					<a href="index"><img src="{% static 'img/logo.png' %}" title="logo" /></a>
				</div>
				<div class="sub-header-center">
					<form>
						<input type="text"><input type="submit"  value="search" />
					</form>
				</div>
				<div class="sub-header-right">
					<ul>
						<li><a href="#">log in</a></li>
						<li><a href="#">Your account</a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="clear"> </div>
			<div class="top-nav">
				<ul>
					<li class="active1"><a href="index">Home</a></li>
					<li><a href="myplaylist">Favorites</a></li>
					<li><a href="artists">Musics</a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			<!---end-top-header--->
			<!---End-header--->
			</div>
				<div class="content">
					<!--start-cartires-page---->
					<div class="Cartires">
						<h5><span>Available</span> Musics</h5>
						<div class="cartires-grids">
							<div class="cartire-grid">
								<div class="cartire-grid-img">
									<img src="{% static 'img/a1.jpg' %}" title="tries" />
								</div>
								<div class="cartire-grid-info">
									<ul>
										<li><span>New</span> |&nbsp;&nbsp;Available !</li>
									</ul>
									<h3>Fondmetal 7500</h3>
									<p>Artist Name</p>
								</div>
								<div class="cartire-grid-cartinfo">
									<h4>Add to your Playlist!</h4>							
									<a href="singlepage.html">Add to Playlist</a><br />
								</div>
								<div class="clear"> </div>
							</div><br />
							<div class="cartire-grid">
								<div class="cartire-grid-img">
									<img src="{% static 'img/a3.jpg' %}" title="tries" />
								</div>
								<div class="cartire-grid-info">
									<ul>
										<li><span>New</span> |&nbsp;&nbsp;Available !</li>
									</ul>
									<h3>Fondmetal 7500</h3>
									<p>Artist Name</p>
								</div>
								<div class="cartire-grid-cartinfo">
									<h4>Add to your Playlist!</h4>							
									<a href="singlepage.html">Add to Playlist</a><br />
								</div>
								<div class="clear"> </div>
							</div><br />
							<div class="cartire-grid">
								<div class="cartire-grid-img">
									<img src="{% static 'img/g6.jpg' %}" title="tries" />
								</div>
								<div class="cartire-grid-info">
									<ul>
										<li><span>New</span> |&nbsp;&nbsp;Available !</li>
									</ul>
									<h3>Fondmetal 7500</h3>
									<p>Artist Name</p>
								</div>
								<div class="cartire-grid-cartinfo">
									<h4>Add to your Playlist!</h4>							
									<a href="singlepage.html">Add to Playlist</a><br />
								</div>
								<div class="clear"> </div>
							</div><br />
						</div>
					</div>
					<!--End-cartires-page---->
				</div>
			<div class="clear"> </div>
		</div>
			<div class="footer">
			
					<p>Design by <a href="#">W3layouts</a></p>
				</div>
			</div>
		</div>
		<!---End-wrap--->
	</body>
</html>

