{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Musicstore Website Template | Musics</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.jpg' %}"/>

        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		
		<div class="wrap">
			<div class="header">
			<div class="top-header">
				<div class="top-header-left">
					<ul>
						<li class="active"><a href="#">Home</a></li>
						<li><a href="/musics">Musics</a></li>
			
					</ul>
				</div>
				<div class="top-header-right">
					<ul>
						<li><a href="#">Login as:</a></li>
						<p>""</p>
						</li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="clear"> </div>
			<div class="sub-header">
				<div class="logo">
					<a href="/"><img src="{% static 'img/logo.png' %}" title="logo" /></a>
				</div>

				<div class="sub-header-right">
					<ul>
						<li><a href="#">log in</a></li>
						<li><a href="#">Your account</a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="clear"> </div>
			<div class="top-nav">
				<ul>
					<li class="active1"><a href="/index">Home</a></li>
					<li><a href="/myplaylist">Favorites</a></li>
					<li><a href="/musics">Musics</a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			<!---end-top-header--->
			<!---End-header--->
			</div>
				<div class="content">
					<!--start-cartires-page---->
					<div class="Cartires">
						<h5><span>Available</span> Musics</h5>
						<div class="cartires-grids">
							<div class="cartire-grid">
								<div class="cartire-grid-img">
									<img src="{% static 'img/a1.jpg' %}" title="Gubo's Boyz" />
								</div>
								<div class="cartire-grid-info">
									<ul>
										<li><span>Gubo's Boyz</span> |&nbsp;&nbsp;Add now !</li>
									</ul>
									<h3></h3>
									<p>Gipsy Woman<a href="#"><div class="cartire-grid-cartinfo">Add to Playlist</div></a></p><br />
                                    <p>fish man<a href="#"><div class="cartire-grid-cartinfo">Add to Playlist</div></a></p><br />
                                    <p>coyote bone<a href="#"><div class="cartire-grid-cartinfo">Add to Playlist</div></a></p><br />

								</div>
								<div class="cartire-grid-cartinfo">
									<h4>Add to your Playlist!</h4>							
									<a href="#">Add all to Playlist</a><br />
								</div>
								<div class="clear">
                               </div>
							</div><br />
							<div class="cartire-grid">
								<div class="cartire-grid-img">
									<img src="{% static 'img/a5.jpg' %}" title="Eola" />
								</div>
								<div class="cartire-grid-info">
									<ul>
										<li><span>Eola</span> |&nbsp;&nbsp;Add now !</li>
									</ul>
                                    <p>Secret Place<a href="#"><div class="cartire-grid-cartinfo">Add to Playlist</div></a></p><br />
                                    <p>Mile Post 1<a href="#"><div class="cartire-grid-cartinfo">Add to Playlist</div></a></p><br />
                                    <p>Celeste<a href="#"><div class="cartire-grid-cartinfo">Add to Playlist</div></a></p><br />

                                    </div>
                                    <div class="cartire-grid-cartinfo">
                                        <h4>Add to your Playlist!</h4>
                                        <a href="#">Add all to Playlist</a><br />
                                    </div>
                                    <div class="clear">
                                    </div>
                                    </div><br />

					</div>
					<!--End-cartires-page---->
				</div>
			<div class="clear"> </div>
		</div>
			<div class="footer">
			
					<p>Design by <a href="#">W3layouts</a></p>
				</div>
			</div>
		</div>
		<!---End-wrap--->
	</body>
</html>

