{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Script Tutorials" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>HTML5 Audio player with playlist</title>

    <!-- add styles and scripts -->
    <link href="{% static 'css/playlist.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.21.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <header>
        <h2>Playlist</h2>
    </header>
    <div class="example">

        <div class="player">
            <div class="pl"></div>
            <div class="title"></div>
            <div class="artist"></div>
            <div class="cover"></div>
            
        </div>
        <ul class="playlist hidden">
            <li audiourl="01.mp3" cover="cover1.jpg" artist="Artist 1">Music 1</li>
            <li audiourl="02.mp3" cover="cover2.jpg" artist="Artist 2">Music 2</li>
            <li audiourl="03.mp3" cover="cover3.jpg" artist="Artist 3">Music 3</li>
            <li audiourl="04.mp3" cover="cover4.jpg" artist="Artist 4">Music 4</li>
            <li audiourl="05.mp3" cover="cover5.jpg" artist="Artist 5">Music 5</li>
            <li audiourl="06.mp3" cover="cover6.jpg" artist="Artist 6">Music 6</li>
            <li audiourl="07.mp3" cover="cover7.jpg" artist="Artist 7">Music 7</li>
        </ul>

    </div>
</body>
</html>