{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <!-- add styles and scripts -->
    <title>Musicstore Website Template | Playlist</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.jpg' %}"/>

    <link href="{% static 'css/playlist.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.21.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <header>
        <h2>My Playlist</h2>
    </header>
    <div class="example">

        <div class="player">
            <div class="pl"></div>
            <div class="title"></div>
            <div class="artist"></div>
            <div class="cover"></div>
            
        </div>
        <ul class="playlist hidden">
            <li audiourl="01.mp3" cover="c5.jpg" artist="Krestovsky">If not you</li>
            <li audiourl="02.mp3" cover="c3.jpg" artist="Alex Fitch">Mile Post 1</li>

        </ul>

    </div>
</body>
</html>